{{#each this}}

  <div class="flex">
    <div class="float-left">
      <p><strong>{{user.username}}: </strong>{{comment}}
        on
        {{formatDate created_at}}</p>
    </div>
  </div>

{{/each}}